body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.h-hi{
    text-align: center;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    background-color:#4D5AE5;
}

.button:hover, .button:focus{
    background-color: #404BBF;
}

a{
    color: #2E2F42;
    text-decoration: none;
}

.link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover, .link:focus, .link-a:hover, .link-a:focus{
    color: #404BBF;
}

ul{
    list-style-type: none;
}
.logo-hed{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio{
color: #2E2F42;
}

.adress{
    font-style: normal
}

.link-a{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.hero-image{
    background-color: #2E2F42;
    color: #FFFFFF;
}

.h-hi{
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 1.12px;
}

.h_zwei-s_zwei{
    text-align: center;
}

.h_drei-s_einz, .h_drei-s_zwei, .h_drei-s_drei{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}

.p-s_einz, .p-s_zwei, .p-s_drei{
    color: #434455;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}

.section_zwei{
    background-color: #F4F4FD;
}

.li-s_zwei{
    background-color: #FFFFFF;
}

.h_zwei-s_drei, .h_zwei-s_zwei{
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.footer{
    background-color: #2E2F42;
}
.logo-fut{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-s-fut{
    color: #F4F4FD;
}
.p-foot{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}